.App {
  margin-top: 0;
  text-align: center;
  background-color: #ebebeb;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  border-top: 5px solid black;
  border-radius: 10px 10px 0 0;
  padding-bottom: 30px;
}

.navbar {
  background-color: #4d5158;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4d5158;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 1000px) {
  .App {
    min-height: 100vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
