.projectcard {
  border: 2px solid rgb(38, 126, 197);
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 1px 4px 4px gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;

  .leftColumn {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-right: 3px solid rgba(180, 198, 231, 255);
    border-top: 3px solid rgba(180, 198, 231, 255);
    border-left: 3px solid rgba(180, 198, 231, 255);
    border-bottom: none;
  }

  .rightColumn {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-bottom: 3px solid rgba(180, 198, 231, 255);
    border-left: 3px solid rgba(180, 198, 231, 255);
    border-right: 3px solid rgba(180, 198, 231, 255);
    border-top: none;

    h2 {
      color: rgb(38, 126, 197);
      text-align: center;
      text-decoration: underline;
    }

    p {
      text-align: left;
    }

    .short {
      font-style: italic;
    }
  }
  @media only screen and (min-width: 600px) {
    border: 2px solid rgb(38, 126, 197);
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px gray;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;

    .leftColumn {
      width: 35%;
      padding: 10px;
      background-color: white;
      border-bottom: 3px solid rgba(180, 198, 231, 255);
      border-top: 3px solid rgba(180, 198, 231, 255);
      border-left: 3px solid rgba(180, 198, 231, 255);
      border-right: none;
    }

    .rightColumn {
      width: 65%;
      padding: 15px;
      background-color: white;
      border-bottom: 3px solid rgba(180, 198, 231, 255);
      border-top: 3px solid rgba(180, 198, 231, 255);
      border-right: 3px solid rgba(180, 198, 231, 255);
      border-left: none;
    }
  }

  @media only screen and (min-width: 1000px) {
    border: 5px solid rgb(38, 126, 197);
    padding: 20px;
    margin: 10px 40px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px gray;
  }
}

.projectImage {
  border: 1px solid gray;
}
