.projectcard {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 40px;
  border-radius: 5px;
  box-shadow: 1px 4px 4px gray;
  display: flex;

  .leftColumn {
    width: 35%;
  }

  .rightColumn {
    width: 65%;
  }
}
