.projectcard {
  border: 5px solid rgb(38, 126, 197);
  padding: 20px;
  margin: 10px 40px;
  border-radius: 5px;
  box-shadow: 1px 4px 4px gray;
  display: flex;
  background-color: black;

  .leftColumn {
    width: 35%;
    padding: 10px;
    background-color: white;
    border-bottom: 3px solid rgba(180, 198, 231, 255);
    border-top: 3px solid rgba(180, 198, 231, 255);
    border-left: 3px solid rgba(180, 198, 231, 255);
  }

  .rightColumn {
    width: 65%;
    padding: 15px;
    background-color: white;
    border-bottom: 3px solid rgba(180, 198, 231, 255);
    border-top: 3px solid rgba(180, 198, 231, 255);
    border-right: 3px solid rgba(180, 198, 231, 255);

    h2 {
      color: rgb(38, 126, 197);
      text-align: center;
      text-decoration: underline;
    }

    p {
      text-align: left;
    }

    .short {
      font-style: italic;
    }
  }

  .projectImage {
    border: 1px solid gray;
  }
}
